.hero-section{
    padding: 10em 4em;
}

.hero-title{
    color: white;
    font-family: 'Inter', sans-serif;
}

.gradient-text {
    background: -webkit-linear-gradient(left, #71ddee 30%, #3ce7b1 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.hero-img{
    width: 400px;
}